.crm_lead_merge_summary blockquote {
    font-style: normal;
}

.crm_quick_create_opportunity_form_group {
    padding-bottom: 0.5rem;

    i.fa {
        text-align: center;
        min-width: 2rem;
    }
    .crm_revenues .o_row {
        margin-left: 1.75rem;
    }
}

.o_settings_container .mt16:has(.crm_settings_block) {
    margin-top: 0 !important;
}

// Truncate selected sale team name in team switcher button
.o_cp_team_switcher {
    @include media-breakpoint-up(xl) {
        max-width: 20ch;
    }
}
// Truncate sales team names in dropdown
.crm_team_switcher_dropdown.o_popover {
    max-width: 20rem !important;
}
