.o-discuss-CallMenu-buttonContent {
    max-width: 150px;
    @include o-mail-call-bordered(.5);
    transition: background-color .2s ease-in-out;

    &.o-is-talking {
        background-color: rgba($o-discuss-talkingColor, 0.1) !important;
        .o-discuss-CallMenu-dropdownMore, .o-discuss-CallMenu-channelInfo {
            &:hover {
                background-color: rgba($o-discuss-talkingColor, 0.15) !important;
            }
        }
    }

    &.o-isOdooCommunity {
        height: $o-navbar-height - 20px !important; // same button height as in enterprise.
        overflow: hidden;
        color: $o-action !important;
    }
}

.o-discuss-CallMenu-dropdownMore, .o-discuss-CallMenu-channelInfo {
    &:hover {
        background-color: mix($gray-200, $gray-300) !important;
    }
}

.o-discuss-CallMenu-warningBadge {
    top: -2px;
    right: -4px;
}

.o-discuss-inCallIcon {
    top: -2px;
    left: 5px;
    @include o-mail-call-bordered(.5);
    border: none !important;
}
