/* static stars */
// portal_rating
$o-w-rating-star-color: #FACC2E;

.o_website_rating_static {
    color: var(--WebsiteRating__star-color, currentColor);
}

.o_website_rating_card_container {

    .o_message_counter {
        color: map-get($grays, '700');
    }

    /* progress bars */
    .o_website_rating_table {
        .o_website_rating_table_percent {
            font-variant-numeric: tabular-nums;
        }

        .o_website_rating_table_progress {
            .o_rating_progressbar {
                background-color: $body-color;
            }
        }

        .progress {
            --progress-height: .4rem;

            @include media-breakpoint-down(lg) {
                --progress-height: .8rem;
            }
        }
    }
}

.o-portal-Chatter.o-review-Chatter {
    .o-mail-Chatter-content {
        padding-left: var(--Chatter-default-padding-x);

        > div > .o-mail-Composer {
            display: none !important;
        }
    }

    .o-mail-Message-core {
        display: grid !important;
        grid-template-columns: max-content 1fr;

        > .o-min-width-0 {
            display: contents;

            > *:not(.o-mail-Message-header) {
                grid-column: span 2;
            }
        }
    }

    .o-mail-Thread {
        padding-top: 0;

        .o-mail-Thread-content {
            gap: map-get($spacers, 4);

            > span.pt-1:empty,
            > .o-mail-DateSection {
                display: none !important;
            }
        }

        .o-mail-Message {
            height: 100%;
            margin-top: 0 !important;

            .o-mail-Message-sidebar {
                flex-basis: auto;
                margin-right: map-get($spacers, 2);
            }

            .o_wrating_publisher_container button {
                margin-bottom: 0 !important;
            }

            @include media-breakpoint-down(md) {
                .o-mail-Message-header {
                    position: relative;

                    .o-mail-Message-actions {
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }

        .o-mail-Message-richBody {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &.o-review-body-expanded {
                -webkit-line-clamp: unset;
                line-clamp: unset;
                overflow: visible;
            }
        }

        .o-review-show-more {
            font-size: 0.8rem;
            color: #717171;
            text-decoration: underline;

            &:hover {
                color: #212529;
            }
        }

        .o-mail-Message-body {
            max-width: 74ch;
            padding: map-get($spacers, 1) 0 !important; // remove bubble padding
        }
    }

    /* Hide suggestion dropdown in product review mode */
    .o-mail-Composer-suggestionList {
        display: none !important;
    }
}

/* Star Widget */
.o-mail-Composer-starCard{
    width: max-content;
    .o-mail-Composer-stars {
        display: inline-flex;
        color: #FACC2E;
        margin-right: 15px;
    }
}

/* Rating Popup Composer */
.o_rating_popup_composer {

    .o_rating_clickable {
        cursor: pointer;
    }

    .o_portal_chatter_avatar {
        margin-right: 10px;
    }
}
